.bg-dark {
    background-color: #2B5E4D!important;
}

.navbar-brand {
    color: #5C8B63!important;
}

.navbar-toggler {
    color: #5C8B63!important;
}

.nav-link {
    color: #5C8B63!important;
}

h2 {
    color: #5C8B63!important; 
}

h3 {
    color: #5C8B63!important;
}

.comments {
    border-color: #D44845!important;
}

#summary p {
    border-color: #D44845!important;
}

h3 {
    color: #E39940!important;
}

#container {
    background-color: #5C8B63;
}