.bg-dark {
    background-color: #2B5E4D!important;
}

.navbar-brand {
    color: #5C8B63!important;
}

.navbar-toggler {
    color: #5C8B63!important;
}

.nav-link {
    color: #5C8B63!important;
}

h2 {
    color: #5C8B63!important; 
}

h3 {
    color: #5C8B63!important;
}

.comments {
    border-color: #6b93cf!important;
}

#summary p {
    border-color: #6b93cf!important;
}

h3 {
    color: #a87c60!important;
}

#container {
    background-color: #5C8B63;
}

#button{
    background-color: #d44845;
    color: white;
}

.colorgrey{
    background-color: grey;
}
#container{
    background-color: #6fa886;
}