
#container{
    width: 95vw;
    height: 100vh;
    margin: auto;
    margin-top: 1%;
}
#rating{
    width: 100%;
    height: 20%;
    display: grid;
    justify-items: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 33% 33% 33%;
}
#thumbsup1{
    width: 20px;
    margin: 1%;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
#thumbsup2{
    width: 20px;
    margin: 1%;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}
#thumbsup3{
    width: 20px;
    margin: 1%;
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}
#thumbsup4{
    width: 20px;
    margin: 1%;
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}
#thumbsup5{
    width: 20px;
    margin: 1%;
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
}
#select1{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}
#select2{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
#select3{
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}
#select4{
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
}
#select5{
    grid-row: 2 / span 1;
    grid-column: 5 / span 1;
}
a #ximage{
    float: right;
    width: 30px;
}
#text{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    font-size: 20px;
}
#text1{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
#textfield{
    width: 80%;
    padding-top: 20%;
}
form{
    display: flex;
    justify-content: center;
}
#submit{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}